
.toggle-button{
    -fx-border-width: 2;
    -fx-font: 28;
}

.toggle-button:selected{
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE;
    -fx-border-color:  #28949c;
    -fx-border-width: 4;
    -fx-font: 28;
}